<style>
#accordion .list-group-item a {
	font-size: 12px;
}
</style>
<div class='panel-group' id='accordion'>
	<div class='panel panel-default'>
		<div class='panel-heading'>系统管理</div>
		<ul class='list-group'>
			<li class='list-group-item'><a href='javascript:;'>用户管理</a></li>
		</ul>
	</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>服务器管理</div>
		<ul class='list-group'>
			<li class='list-group-item'><a href='${virtualPath}manage/'>Dashboard</a></li>
			<li class='list-group-item'><a href='${virtualPath}server/'>服务器列表</a></li>
			<li class='list-group-item'><a href='${virtualPath}blacklist/'>黑名单</a></li>
		</ul>
	</div>
</div>