<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='${virtualPath}public/manage/css/index.css?v3' media='screen' />
	</head>
	<body>
		#parse('manage/pagelet/TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-2'>
					#parse('manage/pagelet/Side.Nav.html')
				</div>
				<div class='col-sm-12 col-md-10'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<ol class='breadcrumb'>
								<li>
									<i class='fa fa-home fa-fw'></i>
									<a href='javascript:;'>服务器管理</a></li>
								<li class='active'>
									<a href='.'>服务器列表</a></li>
								<li class='active'>新增服务器</li>
							</ol>
							<form class='form-horizontal' id='addFrm' role='form' onsubmit='return false;' data-url='changePwd'>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_ServerName'>服务器名称</label>
									<div class='col-sm-4'>
										<input type='text' class='form-control' name='ServerName' id='addFrm_ServerName' placeholder='服务器名称'>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_IP'>IP地址</label>
									<div class='col-sm-4'>
										<input type='text' class='form-control' name='IP' id='addFrm_IP' placeholder='IP地址'>
									</div>
								</div>
								<div class='form-group'>
									<label class='col-sm-2 hidden-xs control-label' for='addFrm_Port'>端口</label>
									<div class='col-sm-4'>
										<input type='text' class='form-control' name='Port' id='addFrm_Port' placeholder='端口'>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-sm-offset-2 col-sm-4'>
										<button id='addFrm_btn_sub' type='button' class='btn btn-primary btn-sm'>保存</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('pagelet/IndexJs.html')
		<script type='text/javascript'>
			function showVali(valiResu){ }

			$('#addFrm_btn_sub').click(function(){
				$('#addFrm').olxForm('submit', [function(){
				}, function (valiResu){
					showVali(valiResu);
				}, function (data){
					if(!data.success) return showVali(data.msg);
				}]);
			});
		</script>
	</body>
</html>