<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='${virtualPath}public/manage/css/index.css?v3' media='screen' />
	</head>
	<body>
		#parse('manage/pagelet/TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-2'>
					#parse('manage/pagelet/Side.Nav.html')
				</div>
				<div class='col-sm-12 col-md-10'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<ol class='breadcrumb'>
								<li>
									<i class='fa fa-home fa-fw'></i>
									<a href='javascript:;'>服务器管理</a></li>
								<li class='active'>
									<a href='.'>服务器列表</a></li>
								<li class='active'>编辑服务器</li>
							</ol>
							<div class='panel'>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('pagelet/IndexJs.html')
		<script type='text/javascript'>
			function showVali(valiResu){ }

			$('#chpwdFrm_btn_sub').click(function(){
				$('#chpwdFrm').olxForm('submit', [function(){
				}, function (valiResu){
					showVali(valiResu);
				}, function (data){
					if(!data.success) return showVali(data.msg);
				}]);
			});
		</script>
	</body>
</html>