<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('pagelet/IndexHeader.html')
		<link rel='stylesheet' type='text/css' href='${virtualPath}public/manage/css/index.css?v3' media='screen' />
	</head>
	<body>
		#parse('manage/pagelet/TopBanner.html')
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-2'>
					#parse('manage/pagelet/Side.Nav.html')
				</div>
				<div class='col-sm-12 col-md-10'>
					<div class='panel panel-default'>
						<div class='panel-body'>
							<ol class='breadcrumb'>
								<li>
									<i class='fa fa-home fa-fw'></i>
									<a href='javascript:;'>服务器管理</a></li>
								<li class='active'>服务器列表</li>
							</ol>
							<div class='panel panel-default table-responsive'>
								#*<div class='panel-heading'>
									<div class='btn-group'>
										<button class='btn btn-primary glyphicon glyphicon-plus-sign' data-toggle='modal' data-target='#addModal'>新增</button>
										<button id='btn_edit' class='btn btn-default glyphicon glyphicon-edit' data-toggle='modal' data-target='#editModal'>编辑</button>
										<button id='btn_del' class='btn btn-danger glyphicon glyphicon-remove-sign'>删除</button>
									</div>
								</div>*#
								#parse('server/List.html')
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('pagelet/IndexJs.html')
		<script type='text/javascript'>
			function showVali(valiResu){ }

			$('#chpwdFrm_btn_sub').click(function(){
				$('#chpwdFrm').olxForm('submit', [function(){
				}, function (valiResu){
					showVali(valiResu);
				}, function (data){
					if(!data.success) return showVali(data.msg);
				}]);
			});
		</script>
	</body>
</html>